@charset "utf-8";

section.absol
{
    display: flex;
    position:absolute;
    width: 80%;
    height: 100%;
    top:0;
    left:calc(50% - 40vw);
    justify-content: center;
    align-items: center;
}

/* rules */
.leafs,
.buds,
#bee-left,
#bee2-left,
#bee-right,
#bee2-right
{
    visibility: hidden;

    -webkit-stroke: none !important;
            stroke: none !important;
    -webkit-fill: rgb(255,238,255) !important;
            fill: rgb(255,238,255) !important;
}

/* logo */
#typo
{
    z-index: 2;

    width: 100%;
    height: 100%;
    margin: 0 1% !important;

    animation: font-animate 1.15s .5s linear forwards;

    opacity: 0;

    -webkit-fill: rgb(255,238,255);
            fill: rgb(255,238,255);
    -webkit-stroke: rgb(255,238,255);
            stroke: rgb(255,238,255);
    -webkit-stroke-width: 2;
            stroke-width: 2;
            filter: drop-shadow(3px 0px 7px rgba(255,116,248, 0.253))
    drop-shadow(-3px 0px 7px rgba(255,116,248, 0.253))
    drop-shadow(0px 4px 7px rgba(255,116,248, 0.253));
    -webkit-filter: drop-shadow(3px 0px 7px rgba(255,116,248, 0.253))
    drop-shadow(-3px 0px 7px rgba(255,116,248, 0.253))
    drop-shadow(0px 4px 7px rgba(255,116,248, 0.253));
}
#plant-left,
#plant-right
{
    z-index: 1;

    width: 100%;
    height: 100%;

    -webkit-fill: none;
            fill: none;
    -webkit-stroke: rgb(255,238,255);
            stroke: rgb(255,238,255);
    -webkit-stroke-width: 10;
            stroke-width: 10;
    -webkit-stroke-linecap: round;
            stroke-linecap: round;
    -webkit-stroke-linejoin: round;
            stroke-linejoin: round;
            filter: drop-shadow(3px 0px 7px rgba(255,116,248, 0.253))
    drop-shadow(-3px 0px 7px rgba(255,116,248, 0.253))
    drop-shadow(0px 4px 7px rgba(255,116,248, 0.253));
    -webkit-filter: drop-shadow(3px 0px 7px rgba(255,116,248, 0.253))
    drop-shadow(-3px 0px 7px rgba(255,116,248, 0.253))
    drop-shadow(0px 4px 7px rgba(255,116,248, 0.253));
}
#plant-left
{
    margin-left: 5% !important;

    -webkit-transform: rotate(-35deg) scaleX(-1); /* ✑ mirror rotation */
       -moz-transform: rotate(-35deg) scaleX(-1);
        -ms-transform: rotate(-35deg) scaleX(-1);
         -o-transform: rotate(-35deg) scaleX(-1);
            transform: rotate(-35deg) scaleX(-1);
}
#plant-right
{
    margin-right: 5% !important;

    -webkit-transform: rotate(35deg);
       -moz-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
         -o-transform: rotate(35deg);
            transform: rotate(35deg);
}

/* bees */
#bee-left
{
    z-index: 3;

    -webkit-animation: fly-left 9s 4.7s ease-in-out infinite;
       -moz-animation: fly-left 9s 4.7s ease-in-out infinite;
        -ms-animation: fly-left 9s 4.7s ease-in-out infinite;
         -o-animation: fly-left 9s 4.7s ease-in-out infinite;
            animation: fly-left 9s 4.7s ease-in-out infinite;

            filter: drop-shadow(3px 0px 7px rgba(255,116,248, 0.253))
    drop-shadow(0px 4px 7px rgba(255,116,248, 0.253));
    -webkit-filter: drop-shadow(3px 0px 7px rgba(255,116,248, 0.253))
    drop-shadow(0px 4px 7px rgba(255,116,248, 0.253));
}
#bee2-left
{
    z-index: 3;

    -webkit-animation: fly2-left 9s 4.8s ease-in-out infinite;
       -moz-animation: fly2-left 9s 4.8s ease-in-out infinite;
        -ms-animation: fly2-left 9s 4.8s ease-in-out infinite;
         -o-animation: fly2-left 9s 4.8s ease-in-out infinite;
            animation: fly2-left 9s 4.8s ease-in-out infinite;

            filter: drop-shadow(3px 0px 7px rgba(255,116,248, 0.253))
    drop-shadow(0px 4px 7px rgba(255,116,248, 0.253));
    -webkit-filter: drop-shadow(3px 0px 7px rgba(255,116,248, 0.253))
    drop-shadow(0px 4px 7px rgba(255,116,248, 0.253));
}
#bee-right
{
    z-index: 3;

    -webkit-animation: fly-right 9s 5s linear infinite;
       -moz-animation: fly-right 9s 5s linear infinite;
        -ms-animation: fly-right 9s 5s linear infinite;
         -o-animation: fly-right 9s 5s linear infinite;
            animation: fly-right 9s 5s linear infinite;

            filter: drop-shadow(3px 0px 7px rgba(255,116,248, 0.253))
    drop-shadow(0px 4px 7px rgba(255,116,248, 0.253));
    -webkit-filter: drop-shadow(3px 0px 7px rgba(255,116,248, 0.253))
    drop-shadow(0px 4px 7px rgba(255,116,248, 0.253));
}
#bee2-right
{
    z-index: 3;

    -webkit-animation: fly2-right 9s 4.5s ease-in-out infinite;
       -moz-animation: fly2-right 9s 4.5s ease-in-out infinite;
        -ms-animation: fly2-right 9s 4.5s ease-in-out infinite;
         -o-animation: fly2-right 9s 4.5s ease-in-out infinite;
            animation: fly2-right 9s 4.5s ease-in-out infinite;

            filter: drop-shadow(3px 0px 7px rgba(255,116,248, 0.253))
    drop-shadow(0px 4px 7px rgba(255,116,248, 0.253));
    -webkit-filter: drop-shadow(3px 0px 7px rgba(255,116,248, 0.253))
    drop-shadow(0px 4px 7px rgba(255,116,248, 0.253));
}

/* wings */
.right-wing,
.right-wing2
{
    -webkit-transform-origin: 0 90%;
            transform-origin: 0 90%;
    -webkit-animation: flapping-right .1s linear infinite;
       -moz-animation: flapping-right .1s linear infinite;
        -ms-animation: flapping-right .1s linear infinite;
         -o-animation: flapping-right .1s linear infinite;
            animation: flapping-right .1s linear infinite;

    transform-box: fill-box;
}
.left-wing,
.left-wing2
{
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    -webkit-animation: flapping-left .1s linear infinite;
       -moz-animation: flapping-left .1s linear infinite;
        -ms-animation: flapping-left .1s linear infinite;
         -o-animation: flapping-left .1s linear infinite;
            animation: flapping-left .1s linear infinite;

    transform-box: fill-box;
}

/* stems */
.stem1
{
    visibility: hidden;

    -webkit-animation: stretch 4s 1s ease-in-out forwards;
            animation: stretch 4s 1s ease-in-out forwards;

    -webkit-stroke-dasharray: 200%;
            stroke-dasharray: 200%;
}
.stem2
{
    visibility: hidden;

    -webkit-animation: stretch-secondary 4s 2.35s ease-in-out forwards;
            animation: stretch-secondary 4s 2.35s ease-in-out forwards;

    -webkit-stroke-dasharray: 200%;
            stroke-dasharray: 200%;
}
.stem3
{
    visibility: hidden;

    animation: stretch-secondary 4s 2.8s ease-in-out forwards;

    -webkit-stroke-dasharray: 200%;
            stroke-dasharray: 200%;
}
.stem4
{
    visibility: hidden;

    animation: stretch-secondary 4s 1.8s ease-in-out forwards;

    -webkit-stroke-dasharray: 200%;
            stroke-dasharray: 200%;
}

/* leafs */
.leaf1,
.leaf2
{
    animation: bloom 1s 1.8s linear forwards;
}
.leaf3,
.leaf4
{
    animation: bloom 1s 2.35s linear forwards;
}
.leaf5,
.leaf6
{
    animation: bloom 1s 2.8s linear forwards;
}

/* buds */
.bud1
{
    -webkit-transform-origin: 40% 20%;
            transform-origin: 40% 20%;
    -webkit-animation: popping .5s 3.2s cubic-bezier(1,0,0,1) forwards;
       -moz-animation: popping .5s 3.2s cubic-bezier(1,0,0,1) forwards;
        -ms-animation: popping .5s 3.2s cubic-bezier(1,0,0,1) forwards;
         -o-animation: popping .5s 3.2s cubic-bezier(1,0,0,1) forwards;
            animation: popping .5s 3.2s cubic-bezier(1,0,0,1) forwards;

    transform-box: fill-box;
}
.bud2
{
    -webkit-transform-origin: 80% 80%;
            transform-origin: 80% 80%;
    -webkit-animation: popping .5s 3.9s cubic-bezier(1,0,0,1) forwards;
       -moz-animation: popping .5s 3.9s cubic-bezier(1,0,0,1) forwards;
        -ms-animation: popping .5s 3.9s cubic-bezier(1,0,0,1) forwards;
         -o-animation: popping .5s 3.9s cubic-bezier(1,0,0,1) forwards;
            animation: popping .5s 3.9s cubic-bezier(1,0,0,1) forwards;

    transform-box: fill-box;
}
.bud3
{
    -webkit-transform-origin: 60% 20%;
            transform-origin: 60% 20%;
    -webkit-animation: popping .5s 4.2s cubic-bezier(1,0,0,1) forwards;
       -moz-animation: popping .5s 4.2s cubic-bezier(1,0,0,1) forwards;
        -ms-animation: popping .5s 4.2s cubic-bezier(1,0,0,1) forwards;
         -o-animation: popping .5s 4.2s cubic-bezier(1,0,0,1) forwards;
            animation: popping .5s 4.2s cubic-bezier(1,0,0,1) forwards;

    transform-box: fill-box;
}
.bud4
{
    -webkit-transform-origin: 15% 35%;
            transform-origin: 15% 35%;
    -webkit-animation: popping .5s 3.5s cubic-bezier(1,0,0,1) forwards;
       -moz-animation: popping .5s 3.5s cubic-bezier(1,0,0,1) forwards;
        -ms-animation: popping .5s 3.5s cubic-bezier(1,0,0,1) forwards;
         -o-animation: popping .5s 3.5s cubic-bezier(1,0,0,1) forwards;
            animation: popping .5s 3.5s cubic-bezier(1,0,0,1) forwards;

    transform-box: fill-box;
}


/* flowers */
.flower1
{
    visibility: hidden;

    animation: bloom 1s 4s linear forwards;

    -webkit-stroke-dasharray: 200%;
            stroke-dasharray: 200%;
    -webkit-stroke-width: 5 !important;
            stroke-width: 5 !important;
}
.flower2
{
    visibility: hidden;

    animation: bloom 1s 4.4s linear forwards;

    -webkit-stroke-dasharray: 200%;
            stroke-dasharray: 200%;
    -webkit-stroke-width: 5 !important;
            stroke-width: 5 !important;
}
.flower3
{
    visibility: hidden;

    animation: bloom 1s 4.7s linear forwards;

    -webkit-stroke-dasharray: 200%;
            stroke-dasharray: 200%;
    -webkit-stroke-width: 5 !important;
            stroke-width: 5 !important;
}
.flower4
{
    visibility: hidden;

    animation: bloom 1s 3.7s linear forwards;

    -webkit-stroke-dasharray: 200%;
            stroke-dasharray: 200%;
    -webkit-stroke-width: 5 !important;
            stroke-width: 5 !important;
}

@keyframes bloom
{
    to
    {
        visibility: visible;
    }
}

@keyframes flapping-left
{
    to
    {
        transform: rotate(-55deg);
    }
}
@keyframes flapping-right
{
    to
    {
        transform: rotate(55deg);
    }
}
@keyframes fly-left
{
    from
    {
        transform: rotate(-25deg)  translate3d(10rem, 0rem, 0);
    }
    50%
    {
        transform: rotate(0deg) translate3d(10rem, 3rem, 0);
    }
    to
    {
        visibility: visible;

        transform: rotate(-25deg)  translate3d(10rem, 0rem, 0);
    }
}
@keyframes fly-right
{
    0%,
    10%,
    20%
    {
        transform: translate3d(44rem, 13.5rem, 0);
    }
    30%
    {
        transform: translate3d(41.5rem, 16rem, 0);
    }
    40%
    {
        transform: translate3d(39rem, 18.5rem, 0);
    }
    50%
    {
        transform: translate3d(41.5rem, 21rem, 0);
    }
    60%
    {
        transform: translate3d(44rem, 23.5rem, 0);
    }
    70%
    {
        transform: translate3d(46.5rem, 21rem, 0);
    }
    80%
    {
        transform: translate3d(49rem, 18.5rem, 0);
    }
    90%
    {
        transform: translate3d(46.5rem, 16rem, 0);
    }
    100%
    {
        visibility: visible;

        transform: translate3d(44rem, 13.5rem, 0);
    }
}
@keyframes fly2-left
{
    0%
    {
        transform: translate3d(30rem, 15rem, 0);
    }
    25%
    {
        transform: translate3d(25rem, 15rem, 0);
    }

    50%
    {
        transform: translate3d(30rem, 15rem, 0);
    }
    75%
    {
        transform: translate3d(35rem, 15rem, 0);
    }
    100%
    {
        visibility: visible;

        transform: translate3d(30rem, 15rem, 0);
    }
}
@keyframes fly2-right
{
    from
    {
        transform: rotate(-25deg)  translate3d(12rem, 3rem, 0);
    }
    50%
    {
        transform: rotate(0);
    }
    to
    {
        visibility: visible;

        transform: rotate(-25deg)  translate3d(12rem, 3rem, 0);
    }
}
@keyframes font-animate
{
    to
    {
        opacity: 1;
    }
}
@keyframes popping
{
    from
    {
        visibility: visible;

        transform: scale(.7);
    }
    50%
    {
        transform: scale(1);
    }
    to
    {
        visibility: hidden;

        transform: scale(.7);
    }
}
@keyframes stretch
{
    from
    {
        stroke-dashoffset: 200%;
    }

    to
    {
        visibility: visible;

        stroke-dashoffset: 0;
    }
}
@keyframes stretch-secondary
{
    from
    {
        stroke-dashoffset: 200%;
    }

    to
    {
        visibility: visible;

        stroke-dashoffset: 0;
    }
}
